<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>
<nav>
    <div class="logo">
        <img src="images/forum-logo.png" alt="not found" width="82px">
    </div>
</nav>
<body>
    <div class = "center">
        <div class="tabbar">
            <div class = "tabbar-options">
                <div class="signin">
                    <a id = "signin" href="/">Sign In</a>
                </div>
                <div class="signup">
                    <a id = "signup" href="registerPage">Sign Up</a>
                </div> 
            </div>
        </div>
        <div class = "center-container">
           
            <div class="center-content">
                <div class="title-container">
                    <div class="title">
                        Create Your Forum Account
                    </div>
                    <div class="sub-title">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
                <form th:action = "@{/register}"  method="post">
                <div class="form">
                    
                    <div class="form-left">
                        <div class="input-wrapper">
                            <label  for="username">Username</label>
                            <input name= "username" type="text" >
                        </div>

                        <div class="input-wrapper">
                            <label for="email">E-mail</label>
                            <input name= "email" type="email" >
                        </div> 
                    </div>
                    <div class="form-right">
                        <div class="input-wrapper">
                            <label for="password">Password</label>
                            <input name= "password" type="password" >
                        </div>

                        <div class="input-wrapper">
                            <label for="cPassword">Confirm Password</label>
                            <input type="password" >
                        </div> 
                    </div>
                </div>
                <div class="term-conditions">
                    <div class="terms-and-conditions-container">
                      <input
                        type="checkbox"
                        name="termsAndConditions"
                        id="terms-and-conditions"
                        required
                      />
                      <label for="termsAndConditions">
                        I agree to the terms and conditions.
                      </label>
                    </div>
                  </div>
                <div class="submit">
                    <button id="submit" type="submit">
                        Register
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html> 